<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true" >

  <targets>
    <!--default-wrapper xsi:type="BufferingWrapper" bufferSize="100"/-->
    <target name="logfile" xsi:type="File" fileName="${environment:NLOG_PATH}/${environment:SERVICE_NAME}.log"
            archiveFileName="${environment:NLOG_PATH}/${environment:SERVICE_NAME}.${shortdate}.{#}.zip"
            archiveAboveSize="10485760"
            archiveNumbering = "Sequence"
            enableArchiveFileCompression="true"
            maxArchiveFiles="50"
            layout="${longdate}|${level:lowercase=true:padding=5}|${mdlc:item=task_id:padding=8}|${mdlc:item=proc_name:padding=22}|${logger:shortname=true:padding=15:truncate=20} - ${message}|${exception:format=ToString}"/>

    <target name="logconsole" xsi:type="Console"
            layout="${longdate}|${level:lowercase=true:padding=5}|${mdlc:item=task_id:padding=8}|${mdlc:item=proc_name:padding=22}|${logger:shortname=true:padding=15:truncate=20} - ${message}|${exception:format=ToString}"/>
    
    <target xsi:type="Null" name="BlackHole" formatMessage="false"  />
  </targets>

  <rules>
    <logger name="*" logger="archive" writeTo="BlackHole" final="true" />
    <logger name="*" minlevel="Debug"  writeTo="logconsole"/>
    <logger name="*" minlevel="Trace"  writeTo="logfile"/>
  </rules>
</nlog>