WU_URL=https://uat2.chdev.biz:11946/MassPayments
WU_URL2=https://masspay.api.westernunion.com/MassPayments
CUSTOMER_ID=AdvapaySoftware
CERT=/application/wu.p12
CURRENCY_HANBOOK=/application/CurrencyData.csv
