SQLDB_CONNECTION=Server=tcp:<<DBServer>>;Database=<<DBName>>;Encrypt=false;TrustServerCertificate=true;Connection Timeout=30;MultipleActiveResultSets=True
SQLDB_CONNECTION_LOGIN=<<DBUSer>>
SQLDB_CONNECTION_PASSWORD=<<DBPassword>>
