WORKER_NAME=mailer
AMQP_IN_QUEUE=notifications-email
EMAIL_SERVICE_PROVIDER_TYPE=SMTP
SMTP_ADDRESS=smtp.gmail.com
SMTP_ADDRESS_PORT=587
SMTP_USE_SSL=true
SMTP_LOGIN=canopusdlyavas@gmail.com
SMTP_PASSWORD=<pass>
SMTP_CONNECT_TIMEOUT=15s
SMTP_SEND_TIMEOUT=15s
EMAIL_SENDER_ADDRESS=canopusdlyavas@gmail.com
EMAIL_SENDER_ADDRESS_DISPLAY_NAME=canopusdlyavas@gmail.com
SENDGRID_API_KEY=<api key here>

